body {
  background: linear-gradient(to bottom, #ffcfed, #ffffff, #ffcfed);
  height: 100vh;
  margin: 0;
}

#home {
  margin: 15vw;
}

#game1 {
  color: #ffffff;
  text-decoration: none;
}

.custom-nav {
  background-color: #fd0dbd;
}

.custom-nav .nav-link {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
}

.custom-nav .nav-link.active {
  background-color: #ffffff !important;
  color: black !important;
}

.custom-nav .dropdown-toggle.show {
  background-color: white;
  color: black;
}

@media (max-width: 500px) {
  .custom-nav {
    flex-direction: column;
  }

  .custom-nav .nav-link {
    font-size: 1rem;
    padding: 0.6rem;
  }
}

.nav-style-btn {
  display: inline-block;
  background-color: #fd0d8d;
  color: white;
  font-size: 2rem;
  padding: 1.2rem 5rem;
  border: none;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.nav-style-btn:hover {
  background-color: white;
  color: black;
}

@media (max-width: 500px) {
  .nav-style-btn {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }
}
