body{
    background-color: #ffc6f0;
}
h3{
    color: rgb(245, 84, 151);
    text-align: center;
    margin-top: 0px;
    text-shadow: 2px 2px 4px #ffffff;
}
h1{
    text-align: center;
    color: #ff2baa;
    font-size: 50px;
    text-shadow: 2px 2px 4px #b3b3b3;
    background-color: #ffffff;
}
.reference{
    width: 30vw;
    height: 30vw;
    margin-top: 1px;
    max-width: 500px;
    max-height: 500px;
    margin-right: 20px;
}
#referencebow{
    margin-top: 01px;
    display: grid;
    gap: 5px;
}
h2{
    font-size: 30px;
    color: #ffffff;
    background-color: #676767;
    text-align: center;
}
#thepinkspens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#theblackpens{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr 1fr;
    
}
#art{
    display: table;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    margin-left: 2px;
    margin-bottom: 20px;
    margin-top: 12px;
    width: 50vw;
    height: 50vw;
}
.row{
    display: table-row;
}

.pix{
    display: table-cell;
    border: 1px solid rgb(79, 75, 75);
    width: 5px;
    height: 5px;
}
#thebow {
  display: flex;     
  align-items: center;   
  gap: 1vw;
  justify-content: center;
}

#bowchart p {
  margin: 0;  
  margin-top: 10px;
}

.pen{
    display: block;
    border: 5px solid #000000;
    width: 6px;
    height: 50px;
    padding-left: 60px;
    margin: 2vw;
}
@media screen and (min-width:1150px) {
    .pen{
        padding-left: 150px;
    }
}



















#pen1{
    background-color: #eeaee1;
}
#pen2{
    background-color:#f132ae ;
}
#pen3{
    background-color: white ;
}
#pen4{
    background-color: black;
}
#pen5{
    background-color:#f18f32;
}
#pen6{
    background-color:#ecc3bc;
}
#pen7{
    background-color:#d17685 ;
}
#pen8{
    background-color:navy ;
}
#pen9{
    background-color:#3165b9 ;
}
#pen10{
    background-color:#d92929 ;
}
#pen11{
    background-color:#6B492B ;
}
#pen12{
    background-color:#BB8A60 ;
}
#pen13{
    background-color:#d6bea1 ;
}
#pen14{
    background-color:#edcd3d ;
}
#pen15{
    background-color:darkgreen;
}
#pen16{
    background-color:#727972;
}
#pen17{
    background-color:#6de06d;
}
#pen18{
    background-color:#6aa3ff;
}




